<div class="card card-block" [hidden]="record.accomplished">
  <div>
    <div class="card-title">
      <strong class="col-md-8">{{record.tag}}</strong>
      <record-menu [record]="record" (action)="toggle_details($event)"></record-menu>
    </div>
    <div class="card-body" >
      <strong class="text-primary">{{record.title}}</strong>
      <div *ngIf="showDetails" >
        <p class="text-info">{{record.description}}</p>
        <p *ngIf="record.due_date != null">{{record.due_date}}</p>
      </div>

    </div>
  </div>

</div>
